# System Maintenance (true = maintenance mode, false = normal/safe)
IS_MAINTANANCE=false

# Service URLs
NEXT_PUBLIC_SERVICE_RECOGNIZE_CCTV=https://api.example.com

# NEXT_PUBLIC_APP_MODE can be 'multi_tenant' or 'single_tenant'
NEXT_PUBLIC_APP_MODE=multi_tenant