IS_PRODUCTION=true
IS_DEBUG=false

# Service URLs
NEXT_PUBLIC_SERVICE_RECOGNIZE_CCTV=http://187.124.138.11:8004

# NEXT_PUBLIC_APP_MODE can be 'multi_tenant' or 'single_tenant'
NEXT_PUBLIC_APP_MODE=single_tenant
